@import url('../../../App.css');
.css-1ex1afd-MuiTableCell-root {
    border-bottom: none;

}


.MuiTableCell-root {
    border-bottom: none ;
}

.MuiTableCell-root {
    padding: 0px;
    font-weight: 550;
}

.MuiTableCell-root {
    padding: 0px ;
        font-weight: 550 ;

}

.css-1te3phx-JoyTab-root[aria-selected="true"] {
    --Tab-indicatorColor: #4C8AB1 !important;
}

.css-18lekjc-JoyTab-root[aria-selected="true"] {
--Tab-indicatorColor: #4C8AB1 !important;
}


.css-18lekjc-JoyTab-root.Mui-selected{
    background: none !important;
}
.css-1te3phx-JoyTab-root.Mui-selected{
background: none !important;
}
