
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none !important;
    display: flex !important;
   
    }


.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
font-weight: bold !important;
}